body{
    background-image: linear-gradient(to right top, #051937, #003a58, #005b61, #087a52, #78923c);

    
   


}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.cards-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
}

.card-item {
    flex: 0 1 auto; 
    margin: 8px; 
    position: relative;
}

.card-item button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

