body{
    background-image: url('C:\Users\fires\Documents\1\proyectofinal\src\assets\Master.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
   


}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.cards-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
}

.card-item {
    flex: 0 1 auto; 
    margin: 8px; 
    position: relative;
}


